<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="./app.js"></script>

    <title>Module 2 Solution</title>
</head>
<body ng-app="ShoppingListCheckOff">
    <div class="jumbotron text-center">
        <div class="container">    
            <div class="text-left">
                <a href="../index.html" class="btn btn-md btn-outline-danger mx-auto">&laquo; Go Back to Home</a>
            </div>
        </div>
        <h1>Check-out the Check-Off!</h1>
        <p>Sorry about the name. I'll give you icecream someday.</p>
    </div>

    <div class="container">
        <div class="row" >
            <div class="col"  ng-controller="ToBuyController as tbc">
                <div class="container text-center">
                    <h3>To Buy</h3>
                    <hr>
                    <div class="alert alert-info text-left" ng-repeat="item in TBitems" >
                        {{$index+1}}. Buy <strong>{{item.quantity}} {{item.name}}</strong>
                        <span class="text-right"><button class="btn btn-info btn-sm" ng-click="move_to_bought($index)">Bought</button></span>
                    </div>
                </div>
            </div>

            <div class="col" ng-controller="AlreadyBoughtController as abc">
                <div class="container text-center">
                    <h3>Already Bought</h3>
                    <hr>
                    <div class="alert alert-warning text-left" ng-repeat="item in ABitems" >
                        {{$index+1}}. Bought <strong>{{ item.quantity }} {{ item.name }}</strong>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
</body>
</html>