<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="app.js"></script>

    <title>Module 1 Solution</title>
</head>
<body ng-app="mod1App" ng-controller="mainctrl" >

    <div class="container">
        <div class="jumbotron">
            <h1>Too Much to Munch?</h1>
            <input type="text" ng-model="food" class="form-control" placeholder="Enter comma-separated food items" >
            <button class="btn btn-lg btn-success" ng-click="checkiftm()" style="margin-top: 1em">Check if too much</button>
        </div>

        <div ng-if="show_res">
            <div class="alert alert-success" ng-if="food_result != 'E'">
                <strong>{{ food_result }}</strong> 
            </div>
        </div>
        <div class="alert alert-danger" ng-if="food_result == 'E'">
            <strong>Please enter data first!</strong>  
        </div>
        
        <div class="text-center">
            <a href="../index.html" class="btn btn-md btn-outline-danger mx-auto">Go Back to Home</a>
        </div>
    </div>

    
    
</body>
</html>